:root {
    --grey400:  #6A7178;
    --grey500:  #4D4F62;
    
    --white:    #FFFFFF;
    --red:      #EA5454;
    --cyan:     #44D3D2;
    --blue:     #549EF2;
    --orange:   #FCAE4A;
}

html {
    font-size: 62.5%; /* 10 pixels = 1rem */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* Media Query for Tablet */ 
@media screen and (min-width: 768px) {
    body {
        gap: 7.4rem;
    }
}

.title-wrapper {
    width: 84%;
    max-width: 54rem;
    margin: 6rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
}

.text-preset-1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: var(--grey500);
}

/* Media Query for Tablet */ 
@media screen and (min-width: 768px) {
    .text-preset-1 {
        font-size: 3.6rem;
    }
}

.text-preset-2 {
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: var(--grey500);
}

/* Media Query for Tablet */ 
@media screen and (min-width: 768px) {
    .text-preset-2 {
        font-size: 3.6rem;
    }
}

.text-preset-3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 135%;
    color: var(--grey500);
}

.text-preset-4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.1px;
    text-align: center;
}

.text-preset-5 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.09px;
    color: var(--grey400);
}

.card-wrapper {
    width: 84%;
    max-width: 111.4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    margin-bottom: 6rem;
}

/* Media Query for Tablet */ 
@media screen and (min-width: 1400px) {
    .card-wrapper {
        flex-direction: row;
        justify-content: center;
    }
}


.content {
    width: 100%;
    max-width: 31.4rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    background-color: var(--white);
    border-radius: 8%;
    box-shadow: .5rem .5rem rgba(0, 0, 0, .1);
    align-items: end;
}

.cyan {
    border-top: .5rem solid var(--cyan);
}

/* Media Query for Tablet */ 
@media screen and (min-width: 768px) {
    .cyan {
        order: 0;
    }
}

.red {
    border-top: .5rem solid var(--red);
}

/* Media Query for Tablet */ 
@media screen and (min-width: 768px) {
    .red {
        order: -1;
    }
}

.orange {
    border-top: .5rem solid var(--orange);
}

.blue {
    border-top: .5rem solid var(--blue);
}

.title {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

/* Media Query for Tablet */ 
@media screen and (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
    }
}

/* Media Query for Tablet */ 
@media screen and (min-width: 1400px) {
    .content-wrapper {
        flex-direction: column;
    }
}